
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:#AAA;
width: 80%;
margin: auto;
border: 10px;
color: blueviolet;
padding: 100px 50px;
}

.contain{
  background-color: beige;
  padding: 30px 40px;
  width: 70%;
  margin:auto;
  text-align: center;
}
table {
  border: 1px solid #ccc;
 text-align: center;
}

a {padding: 2px 1px; color: azure; display: inline-block}
a:hover{background-color: black;color: white;}
thead{background-color:#654;color:white;border: 1px dashed #ccc;}
tr:nth-child(odd) {width: 100px; height: 30px;background-color : #AAA; }
tr:nth-child(even) {width: 100px; height: 30px;background-color : #CCC; } 
.afficher{background-color:green;}
.supprimer{background-color: red;}
.modifier{background-color:cornflowerblue}

input:hover{background-color: black;color: white;}

